services:
  adminer:
    image: adminer:5.4.1
    container_name: adminer
    restart: always
    ports:
      - 8080:8080
    environment:
      - ADMINER_DEFAULT_SERVER=sqlite
    volumes:
      - ./data:/var/www/html/data
